@value colors: "../../tokens/colors.css";
@value board-border from colors;

.boardBorder {
  border-width: 3px;
  border-color: board-border;
}

.board {
  composes: boardBorder;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  position: absolute;
  border-style: dashed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  box-sizing: border-box;
  user-select: none;
}

.boardRow {
  composes: boardBorder;
  position: relative;
  display: flex;
  flex: 1;
  border-bottom-style: dashed;
  box-sizing: border-box;
}

.boardRow:last-child {
  border-bottom-style: none;
}

.boardSquare {
  composes: boardBorder;
  position: relative;
  flex: 1;
  display: inline-block;
  height: 100%;
  border-right-style: dashed;
  box-sizing: border-box;
}

.boardSquare:last-child {
  border-right-style: none;
}

.label {
  color: board-border;
  display: inline-block;
  position: absolute;
}

.rowLabel {
  composes: label;
  left: calc(-10px - 2%);
  top: 50%;
  transform: translate(0, -50%);
}

.columnLabel {
  composes: label;
  top: calc(-18px - 5%);
  left: 50%;
  transform: translate(-50%);
}

.pieceContainer {
  height: 80%;
  width: 80%;
  margin: 10%;
}

.capturedContainer {
  position: absolute;
  display: flex;
  box-sizing: border-box;
  align-content: flex-start;
  justify-content: flex-start;
}

.skyCapturedContainer {
  composes: capturedContainer;
  left: 0;
  top: 0;
  flex-wrap: wrap;
  align-items: flex-start;
}

.landCapturedContainer {
  composes: capturedContainer;
  right: 0;
  bottom: 0;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
}

.capturedPiece {
  margin: 6px;
}
