@value colors: "../../tokens/colors.css";
@value sky, cloud as cloud-color from colors;

.container {
  overflow: hidden;
}

.base {
  width: 100%;
  height: 100%;
}

.path {
  stroke: none;
  fill: sky;
}

.cloud {
  fill: cloud-color;
  max-height: 60%;
  max-width: 25%;
  position: absolute;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.cloudLeft {
  composes: cloud;
  left: 7%;
  bottom: 20%;
}

.cloudMiddle {
  composes: cloud;
  max-height: 65%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.cloudRight {
  composes: cloud;
  right: 7%;
  bottom: 20%;
}
